services:

  tunnel:
    image: ${TUNNEL_IMAGE}
    container_name: tunnel
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    networks:
      - edge
    depends_on:
      proxy:
        condition: service_started

  proxy:
    image: ${TRAEFIK_IMAGE}
    container_name: proxy
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    networks:
      - proxy
      - edge
    ports:
      - "80:80"
      - "127.0.0.1:8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    command:
      - "--entrypoints.web.address=:80"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=proxy"
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--log.level=INFO"
      - "--accesslog=true"
      - "--metrics.prometheus=true"
    labels:
      - "traefik.enable=true"

  miniflux:
    image: ${MINIFLUX_IMAGE}
    container_name: miniflux
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.miniflux.rule=Host(`${MINIFLUX_URL}`)"
      - "traefik.http.routers.miniflux.entrypoints=web"
      - "traefik.http.services.miniflux.loadbalancer.server.port=8080"
    environment:
      - DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db/${POSTGRES_DB}?sslmode=disable
      - RUN_MIGRATIONS=1
      - CREATE_ADMIN=1
      - ADMIN_USERNAME=${MINIFLUX_USER}
      - ADMIN_PASSWORD=${MINIFLUX_PASSWORD}
      - AUTH_PROXY_HEADER=Cf-Access-Authenticated-User-Email
      - TRUSTED_REVERSE_PROXY_NETWORKS=172.22.0.0/16
      - LOG_LEVEL=info
    healthcheck:
      test: [ "CMD", "/usr/bin/miniflux", "-healthcheck", "auto" ]
    networks:
      - proxy
      - app

  db:
    image: ${POSTGRES_IMAGE}
    container_name: postgres
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - miniflux-db:/var/lib/postgresql
    healthcheck:
      test: [ "CMD", "pg_isready", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}" ]
      interval: 10s
      start_period: 30s
    networks:
      - app

volumes:
  miniflux-db:

networks:
  proxy:
    name: proxy
    ipam:
      config:
        - subnet: 172.22.0.0/16
  app:
    name: app
  edge:
    name: edge
